body{
    margin: 0;
    padding: 0;
    background: #aaa;
    font-family: 'Montserrat';

}

.contenedor{
    width: 90%;
 max-width: 1280px;
 margin: auto;
}

li{
    list-style: none;
}
a {
   text-decoration: none;
}
html {
    scroll-behavior: smooth;

}
section[id]{
    scroll-margin-top: 70px;
}

header {
    background: url("../imagenes/INSTRUCTORES VIVEFIT.jpg") no-repeat;
    background-size: cover;
    width: 200;
    height: 150vh;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 200px;
    height: 100%;
    display:block;
    justify-self: right;
    margin:auto;
    opacity: 50%;
}

header ul {
    display: flex;
}

header ul li{
    margin: 0 20px;

}

header ul li a{
    color:white;
    font-weight: bold;

}
header ul li a:hover{
    color:#ad980b;

}
#pricing {
    display:flex;
    justify-content: center;
    text-align: center;
    border-bottom: 3px solid #ff4032;
}
.logo2 {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    margin: 5px 15px ;
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo2  h2 {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 35px;
    margin-left: 10px;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: auto;
    padding: 50px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tabla {
    background: rgba(0,0,0,.7);
    width: 260px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: .7s;
}
.tabla:hover {
    transform: scale(1.05);
}
.titulo {
    background: #00cd2a;
    padding: 15px 0;
}
.menbresias {
     font-size: 50px;
     margin-bottom: 10px;
}
.titulo h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.precio {
    padding: 10px 0;

}

.precio h3 {
    font-size: 30px;
    color: #00cd2a;
}

.precio h3 {
    font-size: 50px;
    margin-left: 5px;
}
 i {
    color: #ad980b;
 }

.descripcion {
    list-style: none;
    padding: 10px 0;
}

.comprar a {
    display: inline-block;
    text-decoration: none;
    background: #00cd2a;
    color: #fff;
    margin: 40px 0;
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 22px;
    text-transform: uppercase;
}

.tabla:nth-child(2) .titulo,
.tabla:nth-child(2) .comprar a {
    background: #0059b0;
}
.tabla:nth-child(2) .precio h3 {
   color: #0059b0;
}

.tabla:nth-child(3) .titulo,
.tabla:nth-child(3) .comprar a {
    background: #ff4032;
}
.tabla:nth-child(3) .precio h3 {
   color: #ff4032;
}
.tabla:nth-child(4) .titulo,
.tabla:nth-child(4) .comprar a{
        background:orangered;

}

.tabla:nth-child(4) .precio h3 {
   color: orangered;
}



#galeria{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
 }
 #galeria img{
    width: 100%;
    transition: 0.4s;
 }
 #galeria .foto{
    width: 25%;
    position: relative;
    overflow: hidden;
 }

 .oculto{
    position: absolute;
    top: 0;
    left: 0;
    background: #00000070;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: none;
 }
 .oculto h4{
    position: relative;
    top: 40%;
 }
 .agrandar{
    transform: scale(1.2);
    transition: 0.2s;
 }
.img-hover{
    width: 100%;
    height: 100%;
}
.menu-icon {
    display: none;
}

.col-12{

}

.card{

}

.card-header{

}

.table{

}

.thead-dark{
    
}
