body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

}

.contenedor{
    width: 90%;
 max-width: 1280px;
 margin: auto;
}

li{
    list-style: none;
}
a { 
   text-decoration: none;
}
html { 
    scroll-behavior: smooth;

}
section[id]{
    scroll-margin-top: 70px;
}

header {
   background: url("../imagenes/pareja-sana-ropa-deportiva-levantamiento-pesas-gimnasio-fondo.webp") no-repeat;
    background-size: cover;
    height: 100vh;
    
    
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 200px;
    height: 100%;
    display:block;
    justify-self: right;
    margin:auto;
    opacity: 50%;
}

header ul {
    display: flex;
}

header ul li{
    margin: 0 20px;

}

header ul li a{
    color: black;
    font-weight: bold;
   
}
header ul li a:hover{
    color: black;

}

.titular {
    position: relative;
    text-align:center;
    margin-top: 40vh;
    margin: 65px;
    align-items: center;
    color:rgba(245, 241, 10, 0.67);

} 
span {
    color: black;
}

h1{
    font-size: 80px;
    font-style: italic;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.contenedor-tarjetas{
    display:flex;
    justify-content: center;
}

.tarjeta{
    text-align: center;
    box-shadow: 1px 0px 5px #0000001f;
    width: 28%;
    margin-top: -100px;
    background: #fff;
    padding: 40px;
    border-radius: 6px;
}

#segunda-tarjeta{
    margin: 0 60px;
    margin-top: -100px;
}

.tarjeta p {
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.img{
    width: 50%;
    height: 50%;
    display:flexbox;
}
h3{
    color: rgb(216, 216, 14);
    text-decoration:none;
    font-size: 14px;
    font-style: italic;
}
#classes {
    background: #f6f6f6ef;
    margin-top: -314px;
    padding-top: 300px;
}

table{
    border: 2px solid rgba(255, 255, 255, 0.027);
    border-collapse: collapse;
    margin: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.blanco, th {
    background: #fff;
}
    
th, td{
    padding: 20px 0;
    font-style: italic;
}

.gris{
    background:#e8e8e8;
 
}
.negrita{
    font-weight: bold;
}

.gris1{
    background:#e8e8e8;
}

 h2 {
    text-align: center;
    font-size: 60px;
    font-style: italic;
 }
 h2:hover{
   color:  rgb(216, 216, 14);
 }

 .horario{
    text-align: center;
    font-style: italic;
 }
 #galeria{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
 }
 #galeria img{
    width: 100%;
    transition: 0.4s;
 }
 #galeria .foto{
    width: 25%;
    position: relative;
    overflow: hidden;
 }
 
 .oculto{
    position: absolute;
    top: 0;
    left: 0;
    background: #00000070;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: none;
 }
 .oculto h4{
    position: relative;
    top: 40%;
 }
 .agrandar{
    transform: scale(1.2);
    transition: 0.2s;
 }
.img-hover{
    width: 100%;
    height: 100%;
}
#contact {
    background: #000;
    text-align: center;
    color: #fff;
    padding: 80px;
    
}

#contact h2 {
    margin: 0;
}
 
#contact i {
    color: white;
   background: none;
}

.info{
    display: flex;
    justify-content: center;
}
.info p {
     margin: 40px;
}
.btn-wsp {
    width: 55px;
    height: 55px;
    margin: 5px;
    line-height: 55px;
    bottom: 30px;
    right: 10px;
    background: #0df053;
    color: #fff;
    border-radius: 55px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.facebook {
    width: 55px;
    height: 55px;
    margin: 5px;
    line-height: 55px;
    bottom: 30px;
    right: 10px;
    background: #232aeb;
    color: #fff;
    border-radius: 55px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;

}
.instagran {
    width: 55px;
    height: 55px;
    margin: 5px;
    line-height: 55px;
    bottom: 30px;
    right: 10px;
    background: #c51079;
    color: #fff;
    border-radius: 55px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.calificame{
    width: 55px;
    height: 55px;
    margin: 5px;
    line-height: 55px;
    bottom: 30px;
    right: 10px;
    background: #f1cd1b;
    color: #fff;
    border-radius: 55px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;

}

#contact a {
    color: #000;
    font-style: italic;
    padding: 20px 40px;
    display: inline-block;
    margin-top: 30px;
}
#classes-mobile {
    display: none;
}
.contenedor4 {
    width: fit-content;
    margin: auto;
    overflow: hidden;
    
}
.foto-entrenador {
    float: left;
    margin: 50px;
   

}
@media (max-width: 800px){
    
    .menu{
        padding-top: 10px;
    }

    header ul {
        flex-direction: column;
        margin-top: 30px;
        
    }
    header ul li a{
        color:#fff;
       
    }
    .titular{
     text-align: center;
        
    }
    .titular .span{
       color: white;
    }
    .titular .a{
        margin-top: -100px;
    }

    .logo{
        width: 100px;

    }


    nav{
        background: #000;
        width: 100%;
        position: absolute;
        top: 45px;
        left: 0;
        display: none;
        
    }

    nav ul li{
        margin-bottom: 20px;
    } 
   
    h1{
        font-size: 34px;
    }

    .contenedor-tarjetas, #galeria{
        flex-direction: column;
    }
    
    .tarjeta{
        width: 100%;
    } 

    #segunda-tarjeta{
        margin: 0;
    }

    #ultima-tarjeta{
        margin-top: 1px;
    }

    #primera-tarjeta{
        margin-top: 1px;
    }

    table{
        display: none;
    }

    #classes-mobile{
        display: block;
        text-align: center;
    }
    
    #galeria .foto{
        width: 100%;
    }

    #contact h2{
        font-size: 38px;
    }

    .info{
        flex-direction: column;
    }
}
